# C++编译产物
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib

# 构建目录
build/
bin/
obj/
out/
mrpc/bin/
mrpc/obj/
mrpc/build/

# 调试相关文件
*.dSYM/
*.su
*.idb
*.pdb

# 临时文件
*~
*.swp
*.swo

# 系统文件
.DS_Store  # macOS
Thumbs.db  # Windows